body{
    background-color:gainsboro;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center
}
.contain a{
    text-decoration: none;
    color: black;
}
.contain a:visited{
    text-transform: none;
}